

body {
    /* background-color: black; */
    background-image: url("../images/carpet.jpg");
}

h2 {
    color: rgb(100, 149, 255);
}

h3 {

    color: blue;

}

p{

    color: whitesmoke
}

li {

    color: rgb(255, 255, 255)
}

.whitetext{
    color: white;
}